<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>Node/Angular Todo App</title>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <style>
    html {overflow-y:scroll;}
    body {padding-top:50px;}
    #todo-list {margin-bottom:30px;}
  </style>

  <!-- SPELLS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src='core.js'></script>

</head>

<!-- SET THE CONTROLLER AND GET ALL TODOS --> 

<body ng-controller="mainController">
  <div class="container">
  
    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
      <h1>I'm a Todo list <span class="label label-info">{{ todos.length }}</span></h1> 
    </div>

    <!-- TODO LIST -->
    <div id="todo-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <div class="checkbox" ng-repeat="todo in todos">
          <label>
            <input type="checkbox" ng-click="deleteTodo(todo._id)">{{ todo.text }}
          </label>
        </div>
      </div>

      <!-- FORM TO CREATE TODOS -->
      <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <form>
            <div class="form-group">


              <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->

              <input type="text" class="form-control input-lg text-center" placeholder="" ng-model="formData.text">
            </div>

            <!-- createToDo() WILL CREATE NEW TODOS -->
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
          </form>
        </div>
      </div>

    </div>
  </body>
</html>

